* {
    font-family: 'Righteous', cursive;
    text-align: center;
    padding: 0.25em;
    font-size: 115%;
    margin: 0px auto;
    text-transform: uppercase;
}

body {
    background: #203647;
}

#title h1 {
    text-decoration: underline;
}

#title p {
    text-align: justify;
    font-size: 100%;    
}

.game-container {
    background: #EEFBFB;
    justify-content: center;
    align-items: center;
    width: 728px;
    height: 800px;
    min-width: 660px;
    min-height: 500px;
    margin: 0px auto;   
    border: 2px inset rgba(28,110,164,0.28);
    border-radius: 20px;    
}

.tooltip {
    font-size: 75%;
}

.button {
    background-color: #007cc7;
    color: #fff;
    border: 5px solid #203647;
    border-radius: 16px;
}

.button:hover {
    cursor: pointer;
}

#timer {
    padding: 1em;
}

#letters-box {
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 1em;
    display: table;
    table-layout: fixed;     
}

#letters-box span {
    /* font-family: 'IBM Plex Mono', monospace;
    padding: 0.5em;
    border: 1px solid #ccc;  */
    background: #c5d0d0;
    display: table-cell;
    text-align: center; 
    padding: inherit;   
    border: 2px inset rgba(28,110,164,0.28);
    border-radius: 2px;        
}

#letters-box span.played {
    /* background: #b0afd2; */
    color: #fff;
    background: #007CC7;
}

.visible {
    display: block;
}

.invisible {
    display: none !important;
}

.errors p {
    color: red;
}

input {
    width: 80%;
    padding: 0.5em;
    box-shadow: 0 0 0 transparent;
    border: 1px solid #999;
    outline: 0 none;
    transition: box-shadow 0.5s;
}
/* Shake the input on invalid entry */ 
.input-error {
    animation: shake 0.2s ease-in-out 0s 2;
    box-shadow: 0 0 0.5em red;
}

@keyframes shake {
  0% { margin-left: 0rem; }
  25% { margin-left: 0.5rem; }
  75% { margin-left: -0.5rem; }
  100% { margin-left: 0rem; }
}


/* Score fly-in */
.word-fly-in {
    animation: flyin 0.7s ease forwards;
    opacity: 0;
    transform: scale(2);
    color: green;
}

.negative {
    color: #C71B1B !important;
}

@keyframes flyin {
   to { 
     filter: blur(0);
     transform: scale(1);
     opacity: 1;
   }
}